/******** Fonts ********/
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.woff2') format('woff2'),
    url('../fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BlackItalic.woff2') format('woff2'),
    url('../fonts/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
    url('../fonts/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.woff2') format('woff2'),
    url('../fonts/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
    url('../fonts/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
    url('../fonts/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.woff2') format('woff2'),
    url('../fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ThinItalic.woff2') format('woff2'),
    url('../fonts/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    }
    /********** End-font *************/
    a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit;
    cursor: pointer !important;
    }
    body {
    font-family: 'Poppins';
    }
    a, a:hover, a:focus, a:active {
        text-decoration: none !important;
        color: inherit;
        cursor: pointer !important;
    }
    /************************** Responsive-320 **************************/
    /* .about-head-image {
        display: flex;
        align-items: center;
    } */
    .about-head-txt h5:after {
        content: "";
        left: 0;
        bottom: 11px;
        position: absolute;
        width: 50px;
        height: 2px;
        background: #000;
    }
    .build-txt h5:after {
        content: "";
        left: 0;
        bottom: 11px;
        position: absolute;
        width: 50px;
        height: 2px;
        background: #000;
    }
    .build-txt h5 {
        position: relative;
    }
    .about-head-txt h5 {
        position:absolute;
        font-weight: 500;
        font-size: 18px;
        line-height: 98.5%;
        padding-left: 73px;
    }
    .about-header {
        padding-bottom: 215px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
    }
        .about-set {
            display: block;
        }
        .about-head-txt {
            padding-top: 85px;
        }
        
        .about-head-txt h1 {
            font-weight: 500;
            font-size: 30px;
            line-height: 111.5%;
            color: #000000;
            width: 82%;
            padding-top: 42px;
            padding-bottom: 40px;
        }
        .about-head-txt p {
            font-weight: 400;
            font-size: 20px;
            line-height: 136%;
            width: 206px;
            padding-bottom: 48px;
        }
        .image-wrapper-1 img {
            width: 100%;
            height: auto;
            max-width: 108px;
        }
        .image-wrapper-2 img {
            width: 100%;
            height: auto;
            max-width: 108px;
        }
        .image-wrapper-3 img {
            width: 100%;
            height: auto;
            max-width: 108px;
        }
        .image-wrapper-1 {
            position: absolute;
            left: 30px;
            top: 625px;
        }
        .image-wrapper-2 {
            position: absolute;
            left: 100px;
            top: 545px;
            z-index: 99;
        }
        .image-wrapper-3 {
            top: 610px;
            position: absolute;
            left: 180px;
        }
        /************ Banner-image *************/
        .banner-img img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        /*********** Digital-Agency *************/
        .digital-agency {
            padding-top: 88px;
            padding-bottom: 87px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .build-txt h5 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 98.5%;
            color: #000000;
            padding-left: 76px;
        }
        .build-txt h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 111.5%;
            color: #000000;
            padding-top: 42px;
            padding-bottom: 88px;
            width: 343px;
        }
        .build-txt a h6 {
            background-image: url(../images/arows-1.png);
            background-position: right;
            padding-right: 54px;
            background-position-y: 4px;
            background-repeat: no-repeat;
            width: fit-content;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 98.5%;
            letter-spacing: 0.265em;
            color: #000000;
        }
        /************* Our-Services **************/
        .our-services {
            display: grid;
            grid-template-columns: auto;
        }
        .our-wrap-txt {
            display: flex;
            align-items: center;
            padding-left: 45px;
            width: 100%;
            max-width: 100%;
            height: 244px;
            background-color: #13161B;
            transition: all .5s cubic-bezier(.165,.84,.44,1);
        }
        .our-wrap-txt:hover {
            background-image: url(../images/bg-12.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            height: 300px;
            background-color: #13161B;
            transition: all .5s cubic-bezier(.165,.84,.44,1);
        }
        .box-link:hover {
            background-image: url(../images/bg-12.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .our-wrap {
            padding-left: 45px;
            padding-right: 43px;
        }
        .our-wrap-txt h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            color: #FFFFFF;
            width: 178px;
        }
        .our-wrap h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 98.5%;
            color: #FFFFFF;
        }
        .our-wrap p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 173.5%;
            color: #FFFFFF;
            padding-top: 22px;
        }

        .about-page .related-articlest-section {
            background: #fff;
            position: relative;
        }

        .logo-repet img:last-child {
            position: relative;
            left: 50%;
        }

        /*.right img {
            display: none;
        }*/



    /*========================================================================================================================*/
    /* Mobile devices (mobiles, 450px and up) */
    @media screen and (min-width: 450px) {}
    /* End Mobile devices (mobiles, 450px and up) */
    /*========================================================================================================================*/
    /* Mobile devices (mobiles, 576px and up) */
    @media screen and (min-width: 576px) {
        
    .about-header {
        padding-bottom: 376px;
    }
        .image-wrapper-1 {
            position: absolute;
            right: 61%;
            top: 588px;
            left: unset;
        }
        .image-wrapper-2 {
            position: absolute;
            right: 40%;
            top: 500px;
            left: unset;
        }
        .image-wrapper-3 {
            top: 590px;
            position: absolute;
            right: 11%;
            left: unset;
        }
        
        .image-wrapper-1 img {
            width: 100%;
            height: auto;
            max-width: 195px;
        }
        .image-wrapper-2 img {
            width: 100%;
            height: auto;
            max-width: 195px;
        }
        .image-wrapper-3 img {
            width: 100%;
            height: auto;
            max-width: 195px;
        }
    }
    /* End Mobile devices (mobiles, 576px and up) */
    /*========================================================================================================================*/
    /* Tab devices (Tabs, 768px and up) */
    @media screen and (min-width: 768px) {
        .image-wrapper-1 {
            position: absolute;
            right: 72%;
            top: 581px;
        }
        .image-wrapper-2 {
            position: absolute;
            right: 57%;
            top: 488px;
        }
        .image-wrapper-3 {
            top: 581px;
            position: absolute;
            right: 38%;
        }
    }
    /* End Tab devices (Tabs, 768px and up)
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        .blog-section {
            padding-bottom: 128px;
        }
        .image-wrapper-1 {
            position: absolute;
            right: 34%;
            top: 315px;
        }
        .image-wrapper-2 {
            position: absolute;
            right: 11%;
            top: 373px;
        }
        .image-wrapper-3 {
            top: 114px;
            position: absolute;
            right: 3%;
        }
        .image-wrapper-1 img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
        .image-wrapper-2 img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
        .image-wrapper-3 img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    .about-header {
        padding-bottom: 154px;
    }
        .about-set {
            position: relative;
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .about-head-txt {
            padding-top: 96px;
        }
        .about-head-txt h5 {
            font-size: 22px;
            padding-left: 73px;
        }
        
        .about-head-txt h1 {
            font-weight: 500;
            font-size: 72px;
            line-height: 98.5%;
            color: #000000;
            width: 90%;
            padding-top: 94px;
            padding-bottom: 50px;
        }
        .about-head-txt p {
            font-weight: 400;
            font-size: 34px;
            line-height: 136%;
            width: 320px;
            padding-bottom: unset;
        }
        /************ Banner-image *************/
        .banner-img img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        /*********** Digital-Agency *************/
        .digital-agency {
            padding-top: 140px;
            padding-bottom: 113px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .build-txt h5 {
            font-size: 22px;
            line-height: 98.5%;
            padding-left: 76px;
        }
        .build-txt h1 {
            font-size: 72px;
            line-height: 98.5%;
            padding-top: 54px;
            padding-bottom: 85px;
            width: 850px;
        }
        .build-txt a h6 {
            font-size: 18px;
            line-height: 98.5%;
            color: #000000;
            background-position-y: 6px;
        }
        /************* Our-Services **************/
        .our-services {
            display: grid;
            grid-template-columns: auto auto auto;
        }
        .our-wrap {
            padding-left: 30px;
            padding-right: unset;
        }
        .our-wrap-txt {
            display: flex;
            align-items: center;
            justify-content: center;
            /* padding-left: unset; */
            height: 509px;
        }
        .our-wrap-txt:hover {
            background-image: url(../images/bg-12.png);
        }
        .box-link {
            height: 509px;
        }
        .our-wrap-txt h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 98.5%;
            color: #FFFFFF;
            width: 100%;
        }
        .our-wrap h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 98.5%;
            color: #FFFFFF;
            width: 80%;
        }
        .our-wrap p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 173.5%;
            color: #FFFFFF;
            width: 80%;
            padding-top: 53px;
        }
    }
    /* End Desktop devices (Desktops, 992px and up)
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 1280px and up) */
    @media screen and (min-width: 1280px) {
        .blog-section {
            padding-bottom: 156px;
        }
        .image-wrapper-1 {
            right: 32%;
            top: 303px;
        }
        .image-wrapper-2 {
            right: 14%;
            top: 373px;
        }
        .image-wrapper-3 {
            right: 3%;
        }
        .about-head-txt h1 {
            width: 100%;
        }
        .about-head-txt p {
            font-size: 34px;
        }
        /************* Our-Services **************/
        .box-link {
            height: 509px;
        }
        .our-wrap-txt h2 {
            font-size: 80px;
        }
        .our-wrap h3 {
            font-size: 50px;
        }
        .our-wrap p {
            font-size: 27px;
        }
        .our-wrap {
            padding-left: 79px;
        }
    }
    /* End Desktop devices (Desktops, 1280px and up)
    /*========================================================================================================================*/
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 1400px and up) */
    @media screen and (min-width: 1400px) {
        .blog-section {
            padding-bottom: 245px;
        }
        .about-set {
            padding-left: 11.7%;
            padding-right: 11.6%;
        }
        .digital-agency {
            padding-left: 11.7%;
            padding-right: 11.6%;
        }
        .about-header {
            padding-left: unset;
            padding-right: unset;
        }
        
        .image-wrapper-1 {
            right: 39%;
            top: 303px;
        }
        .image-wrapper-2 {
            right: 27%;
            top: 373px;
        }
        .image-wrapper-3 {
            right: 21%;
        }
    }
    /* End Desktop devices (Desktops, 1400px and up)
    /*========================================================================================================================*/
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 1600px and up) */
    @media screen and (min-width: 1600px) {}
    /* End Desktop devices (Desktops, 1600px and up)
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 1900px and up) */
    @media screen and (min-width: 1900px) {}
    /* End Desktop devices (Desktops, 1900px and up)
    /*========================================================================================================================*/
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 2550px and up) */
    @media screen and (min-width: 2550px) {}
    /* End Desktop devices (Desktops, 2550px and up)
    /*========================================================================================================================*/