/*----------Global buttons----------*/
.global-button {
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.global-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.global-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #0cf;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.global-button:hover {
    color: #fff;
}

/*.global-button:hover:before {
    width: 100%;
}*/

/*----------------*/
.typing-text p {
    display: inline;
}

.provide-for .typing-text {
    height: 100px;
}

/*---- Cursor circle on hover --------*/
.image-wrapper {
    position: relative;
    cursor: none;
    touch-action: none;
    margin-bottom: 2rem;
}

.image-wrapper .circle {
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff0000;
    border-radius: 80%;
    backface-visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: 99;
    /*mix-blend-mode: multiply;*/
}

.image-wrapper .circle img {
    width: 20px;
    height: 20px;
    margin: auto;
} 

.image-wrapper .content-overlay {
  background: rgb(0 0 0 / 38%);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.image-wrapper:hover .content-overlay{
  opacity: 1;
}


/*------------ animated Border --------------*/
.mySwiper .swiper-slide-active .step-confirmation-content{
    position:relative;
    /*height:300px;
    width:500px;*/
}
.mySwiper .swiper-slide-active .step-confirmation-content > span{
    height: 50px;
    width: 50px;
}
.mySwiper .swiper-slide-active .step-confirmation-content > span.border-top{
    border-top: unset !important;
    position: absolute;
    top: 0;
    left: 23px;
    z-index: 1;
    right: unset;
    width: calc(88%);
    height: 6px;
    background-image: linear-gradient(to right, #FF7608 50%, transparent 0%);
    background-size: 8px 4px;
    background-repeat: repeat-x;
    background-position: 0% bottom;
    animation-name: border-top-line;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes border-top-line {
   from {
     background-position: 0% bottom;
   }
   to {
     background-position: 100% bottom;
   }
}
.mySwiper .swiper-slide-active .step-confirmation-content > span.border-left {
    position: absolute;
    top: 11px;
    right: 94%;
    width: 4px;
    height: calc(100% - 25px);
    background-image: linear-gradient(to top, #FF7608 50%, transparent 0%);
    background-size: 4px 8px;
    background-repeat: repeat-y;
    background-position: 0% top;
    animation-name: border-left-line;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes border-left-line {
   from {
     background-position: 100% bottom;
   }
   to {
     background-position: 0% top;
   }
}
.mySwiper .swiper-slide-active .step-confirmation-content > span.border-bottom {
    border-bottom: unset !important;
    position: absolute;
    bottom: 14px;
    left: 93%;
    width: 6px;
    height: calc(100% - 26px);
    background-image: linear-gradient(to top, #FF7608 50%, transparent 0%);
    background-size: 4px 8px;
    background-repeat: repeat-y;
    background-position: 0% top;
    animation-name: border-bottom-line;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 12px;
}

@keyframes border-bottom-line {
   from {
     background-position: 0% top;
   }
   to {
     background-position: 100% bottom;
   }
}
.mySwiper .swiper-slide-active .step-confirmation-content > span.border-right{
    position: absolute;
    top: calc(100% - 9px);
    right: 24px;
    height: 6px;
    width: calc(88% - 0px);
    background-image: linear-gradient(to left, #FF7608 50%, transparent 0%);
    background-size: 8px 4px;
    background-repeat: repeat-x;
    background-position: 0% bottom;
    animation-name: border-right-line;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes border-right-line {
   from {
     background-position: 100% bottom;
   }
   to {
     background-position: 0% bottom;
   }
}

/*---------------------*/
@media screen and (min-width: 576px) {
    .mySwiper .swiper-slide-active .step-confirmation-content > span.border-top {
        left: 0px;
        width: calc(100%);
    }

    .mySwiper .swiper-slide-active .step-confirmation-content > span.border-left {
        right: 99%;
    }

    .mySwiper .swiper-slide-active .step-confirmation-content > span.border-right {
        right: 0px;
        width: calc(100% - 0px);
    }

    .mySwiper .swiper-slide-active .step-confirmation-content > span.border-bottom {
        left: 99%;
    }
}