
    /********** End-font *************/
    a, a:hover, a:focus, a:active {
        text-decoration: none !important;
        color: inherit;
        cursor: pointer !important;
    }
    /*************** Blog-Section ****************/
    .blog-data {
        display: grid;
        grid-template-columns: auto;
    }
    .blog-header {
        padding-top: 53px;
        padding-bottom: 56px;
    }
    .blog-header h5:after {
        content: "";
        left: 0;
        top: 6px;
        position: absolute;
        width: 33px;
        height: 2px;
        background: #000;
    }
    .blog-header h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 98.5%;
        color: #000000;
        padding-left: 45px;
        position: relative;
    }

    .blog-header h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 98.5%;
        color: #000000;
        width: 70%;
        padding-top: 44px;
    }
    .blog-header p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 136%;
        color: #000000;
        padding-top: 23px;
    }

    /************** Blog-Date *************/
    .blog-inside {
        padding-bottom: 61px;
    }

    .blog-inside .project-text {
        padding-bottom: 20px;
        height: auto !important;
        max-width: 100% !important;
    }

    .blog-inside .project-text a {
        opacity: 1;
    }

    .blog-inside .project-text:hover h3,
    .blog-inside .project-text:hover h4,
    .blog-inside .project-text:hover h2 {
        color: #fff;
    }

    .blog-inside .project-text:hover h4:after {
        background-color: #FF7608;
    }

    .blog-inside img {
        width: 100%;
        height: auto;
        /*max-width: 605px;*/
    }
    .blog-inside h4:after {
        content: "";
        left: 0;
        top: 5px;
        position: absolute;
        width: 33px;
        height: 2px;
        background: #000;
    }
    .blog-inside h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 76%;
        color: #000000;
        margin-top: 44px;
        position: relative;
        padding-left: 45px;
    }
    .blog-inside a h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 43px;
        color: #000000;
        margin-top: 29px;
    }
    .blog-inside h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 76%;
        color: #000000;
        margin-top: 19px;
    }







    /*========================================================================================================================*/
    /* Mobile devices (mobiles, 450px and up) */
    @media screen and (min-width: 450px) {}
    /* End Mobile devices (mobiles, 450px and up) */
    /*========================================================================================================================*/
    /* Mobile devices (mobiles, 576px and up) */
    @media screen and (min-width: 576px) {}
    /* End Mobile devices (mobiles, 576px and up) */
    /*========================================================================================================================*/
    /* Tab devices (Tabs, 768px and up) */
    @media screen and (min-width: 768px) {}
    /* End Tab devices (Tabs, 768px and up)
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        /*********** Blog-Header *************/
    .blog-header h5:after {
        top: 11px;
        width: 50px;
    }
    .blog-header {
        padding-top: 96px;
        padding-bottom: 118px;
    }
    .blog-header h5 {
        font-size: 22px;
        padding-left: 75px;
    }
    .blog-header h1 {
        font-size: 90px;
        padding-top: 73px;
        width: 57%;
    }
    .blog-header p {
        font-size: 34px;
        padding-top: 73px;
    }
    /************* Blog-Data *************/
    .blog-inside h4:after {
        width: 50px;
    }
    .blog-inside {
        padding-bottom: 118px;
    }
        .blog-data {
            grid-template-columns: auto auto;
            grid-gap: 69px;
        }
        .blog-inside h4 {
            font-size: 24px;
            margin-top: 73px;
            padding-left: 75px;
        }
        .blog-inside a h2 {
            font-size: 50px;
            line-height: 57px;
        }
    }
    /* End Desktop devices (Desktops, 992px and up)
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 1400px and up) */
    @media screen and (min-width: 1400px) {}
    /* End Desktop devices (Desktops, 1400px and up)
    /*========================================================================================================================*/
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 1600px and up) */
    @media screen and (min-width: 1600px) {}
    /* End Desktop devices (Desktops, 1600px and up)
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 1900px and up) */
    @media screen and (min-width: 1900px) {}
    /* End Desktop devices (Desktops, 1900px and up)
    /*========================================================================================================================*/
    /*========================================================================================================================*/
    /* Desktop devices (Desktops, 2550px and up) */
    @media screen and (min-width: 2550px) {}
    /* End Desktop devices (Desktops, 2550px and up)
    /*========================================================================================================================*/