/*=================================HOMEPAGE==================================*/

.contact-bts a {
    font-family: 'Poppins';
    font-weight: 500;
}

.contact-bts a,
.creative-set a {
	display: inline-block;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.contact-bts a:after,
.creative-set a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FF7608;
	border-radius: 100px;
	z-index: -2;
}

.contact-bts a:before,
.creative-set a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #e02d32;
	transition: all 0.3s;
	border-radius: 100px;
	z-index: -1;
}

.creative-set a:before {
	background-color: #fff;
}

.contact-bts a:hover {
	color: #fff;
}

.creative-set a:hover {
	color: #000;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit:hover {
	background-color: #FF7608;
	transition: all 0.3s;
}

.contact-bts a:hover:before,
.creative-set a:hover:before {
	width: 100%;
}

.double-head a h6 {
	-webkit-transition: color 0.4s ease; /* For Safari 3.0 to 6.0 */
     transition: color 0.4s ease; /* For modern browsers */
}

.double-head a:hover h6 {
	color: #FF7608;
}

.articale-inside img,
.testimon .uniling img {
    max-width: 100%;
    object-fit: cover;
}

.next-her a h6 {
	margin-right: 0;
	padding-right: 0;
	margin-left: 15px;
	max-width: 280px;
	display: block;
	width: 100%;
	float: left;
	background-position-x: 205px;
	transition: all .5s cubic-bezier(.165,.84,.44,1);
}

.next-her a:hover h6 {
	background-position-x: 220px;
}

.go-next a h6,
.build-txt a h6,
.project-text a h6,
.what-rape a h6 {
	transition: all .5s cubic-bezier(.165,.84,.44,1);
	margin-right: 0;
	padding-right: 0;
	width: 100%;
	max-width: 280px;
	background-position-x: 210px;
}

.what-rape a h6 {
	background-position-x: 160px;
	max-width: 250px;
	background-position-y: -1px;
}

.project-text a h6 {
	background-position-x: 165px;
}

.build-txt a h6 {
	letter-spacing: 0.1em;
}

.go-next a,
.build-txt a,
.project-text a,
.what-rape a {
    max-width: 280px;
    display: block;
}


.what-rape a {
    max-width: 320px;
}

.go-next a h6:hover,
.build-txt a h6:hover {
	background-position-x: 230px;
}

.what-rape a h6:hover {
	background-position-x: 190px;
}

.project-text a h6:hover {
	background-position-x: 190px;
}

.articalest-inside a h2 {
	transition: text-decoration-color 300ms;
}

.articalest-inside:hover a h2 {
	text-decoration-color: #FF7608;
}

.build-txt h1 {
	max-width: 343px;
	width: 100%;
}

.senior-slide a h2 {
	background-position-y: 5px;
	line-height: 20px;
}

.senior-slide a h2 {
	padding-right: 45px;
}

.senior-slide a h2:hover {
	padding-right: 50px;
	transition: all .5s cubic-bezier(.165,.84,.44,1);
}

@media screen and (min-width: 450px) {

	.senior-slide a h2 {
		padding-right: 55px;
	}

	.senior-slide a h2:hover {
		padding-right: 80px;
	}
}

@media screen and (min-width: 576px) {
	.next-her a h6 {
		max-width: 250px;
		width: 100%;
		background-position-x: 220px;
		float: right;
	}

	.next-her a:hover h6 {
		background-position-x: 240px;
	}
}

@media screen and (min-width: 768px) {
	.go-next a,
	.build-txt a {
	    max-width: 350px;
	    display: block;
	}

	.project-text a {
	    max-width: 250px;
	}

	.go-next a h6,
	.build-txt a h6 {
		background-position-x: 260px;
		max-width: 350px;
	}

	.project-text a h6 {
		max-width: 250px;
	}

	.go-next a h6:hover,
	.build-txt a h6:hover {
		background-position-x: 290px;
	}

	.build-txt a h6 {
		letter-spacing: 0.265em;
	}

	.build-txt h1 {
    	max-width: 500px;
    }
} 

@media screen and (min-width: 992px) {
	.next-her a h6 {
		max-width: 350px;
		margin-right: 150px;
		background-position-x: 250px;
	}

	.next-her a:hover h6 {
		background-position-x: 280px;
	}

	.go-next a,
	.build-txt a,
	.what-rape a {
	    max-width: 380px;
	}

	.what-rape a {
	    max-width: 300px;
	}

	.go-next a h6,
	.build-txt a h6 {
		background-position-x: 290px;
		max-width: 380px;
	}

	.what-rape a h6 {
		background-position-x: 190px;
		background-position-y: 0px;
		max-width: 300px;
	}

	.project-text a {
	    max-width: 400px;
	}

	.project-text a h6 {
		background-position-x: 290px;
		max-width: 400px;
	}

	.go-next a h6:hover,
	.build-txt a h6:hover {
		background-position-x: 320px;
	}

	.what-rape a h6:hover {
		background-position-x: 220px;
	}

	.project-text a h6:hover {
		background-position-x: 320px;
	}

	.build-txt h1 {
		max-width: 850px;
	}

	.senior-slide a h2 {
		padding-right: 70px;
	}

	.senior-slide a h2:hover {
		padding-right: 90px;
	}
}

@media screen and (min-width: 1400px) {
	.project-text a {
	    max-width: 450px;
	}

	.project-text a h6 {
		background-position-x: 340px;
		max-width: 450px;
	}

	.project-text a h6:hover {
		background-position-x: 380px;
	}
}